.gallerysplash{
    margin-top: 20vh;
    margin-bottom: 40vh;
}
@media only screen and (max-width: 992px) {
    hr {
        width: 180px!important;
        margin: 0 auto;
    }
}
.imgCol{
    display: flex;
    /* align-content: flex-end; */
    align-items: center;
    padding-bottom: 1rem;
}
.text-align-left{
    text-align: left;
}
.viewheight {
    overflow: scroll;
}